body {
    background-color: grey;
}

/*
 * Navbar Styling
 */
.navbar{
    background:transparent;
    background-color:transparent;
    border: none;
    transition: background-color 1s ease 0s;
    color:white; !important
}

.navbar.solid {
  background-color: white;
  transition: background-color 1s ease 0s;
  box-shadow: 0 0 4px grey;
}

.btn-info{
    transition: all 1s ease 0s;
}

.btn-outline-info{
    transition: all 1s ease 0s;
}

.logobright{
    filter: brightness(3) grayscale(100%);
    -webkit-filter: brightness(3) grayscale(100%);
    -moz-filter: brightness(3) grayscale(100%);
    -o-filter: brightness(3) grayscale(100%);
    -ms-filter: brightness(3) grayscale(100%);
    transition: all 1s ease 0s;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
}

.logoregular{
    transition: all 1s ease 0s;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
}

a.nav-stuff:hover {
    color: 	#5bc0de;
    text-decoration: none !important;
}

/*
 * jQ Styling
 */

.nodisplay{
    animation: fade-in 1s linear;
    -webkit-animation: fade-in 1s linear;
    -moz-animation: fade-in 1s linear;
    -o-animation: fade-in 1s linear;
    -ms-animation:fade-in 1s linear;
}

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}